

body {
    background-image: url(./salim.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    color: #222;
    font-family: cursive;
}

hr {
    color: #fff;
    border-width: 3px;
}

img {
    width: 350px;
    height: 250px;
    display: inline;
}