body {
  background-color: aliceblue;
}
.main-profile {
  margin: auto;
}
.certificates {
    display: flex;
}
img {
  border-radius: 20px;
  width: 250px;
  height: 250px;
  margin-right: 20px;
  border: 1px solid green;
  box-shadow: 1px 1px 1px #9e9e9e;
}
img:hover {
  
}
.info {
  margin: 10px 0;
}

hr {
    border-color: green;
}